@page
@model MentorMate.Web.Pages.ThankYouModel
@{

}
<div class="text-center">

    <h2 class="text-primary">Thanks for reserving a room!</h2>
    <p class="text-primary">I hope I have completed the task. </p>

</div>
<script>
    window.setTimeout(function(){
        window.location.href='/Index';
    }, 5000);
</script>